<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Buyer Profile Setup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/style.css' %} " />
    <noscript><link rel="stylesheet" href=" {% static 'assets/css/noscript.css' %} " /></noscript>
  </head>
  <div id="wrapper">
    <body>
    <form action="buyer_profile_page" method='post'>
        {%  csrf_token %}
    </form>

      <h3>Traitbuilder</h3>
      <form action="buyer_profile_page" method="post" name="buyer_trait_form">
      {% csrf_token %}
        <p><label for="buyer_persistent">Persistent</label><input type="checkbox" id="buyer_id_persistent" name="buyer_persistent" maxlength="100"></p>
        <p><label for="buyer_flexible">Flexible</label><input type="checkbox" id="buyer_flexible" name="buyer_flexible"></p>
        <p><label for="buyer_closer">Closer</label><input type="checkbox" id="buyer_closer" name="buyer_closer"></p>
        <p><label for="buyer_consultative">Consultative</label><input type="checkbox" id="buyer_consultative" name="buyer_consultative"></p>
        <p><label for="buyer_detail_oriented">Detail-oriented</label><input type="checkbox" id="buyer_detail_oriented" name="buyer_detail_oriented"></p>
        <p><label for="buyer_patient">Patient</label><input type="checkbox" id="buyer_patient" name="buyer_patient"></p>
        <p><label for="buyer_charismatic">Charismatic</label><input type="checkbox" id="buyer_charismatic" name="buyer_charismatic"></p>
        <p><label for="buyer_calculated">Calculated</label><input type="checkbox" id="buyer_calculated" name="buyer_calculated"></p>
         <p><label for="buyer_talker">Talker</label><input type="checkbox" id="buyer_talker" name="buyer_talker"></p>
          <input class="button" type="submit" value="Submit">
      </form>
    </body>
  </div>
</html>
