<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Seller Profile Setup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %} " />
    <noscript><link rel="stylesheet" href=" {% static 'assets/css/noscript.css' %} " /></noscript>

  </head>
    <body>
    <div id="wrapper">
    <section>
      <h3>Traitbuilder</h3>
      <p>Add Your Traits as Salesperson - Pick at least 3</p>
    
      <form action='seller_profile_page' method='POST'>
      {% csrf_token %}
          <p><label for="seller_persistent">Persistent</label><input type="checkbox" id="seller_id_persistent" name="seller_persistent" maxlength="100"></p>
        <p><label for="seller_flexible">Flexible</label><input type="checkbox" id="seller_flexible" name="seller_flexible"></p>
        <p><label for="seller_closer">Closer</label><input type="checkbox" id="seller_closer" name="seller_closer"></p>
        <p><label for="seller_consultative">Consultative</label><input type="checkbox" id="seller_consultative" name="seller_consultative"></p>
        <p><label for="seller_detail_oriented">Detail-oriented</label><input type="checkbox" id="seller_detail_oriented" name="seller_detail_oriented"></p>
        <p><label for="seller_patient">Patient</label><input type="checkbox" id="seller_patient" name="seller_patient"></p>
        <p><label for="seller_charismatic">Charismatic</label><input type="checkbox" id="seller_charismatic" name="seller_charismatic"></p>
        <p><label for="seller_calculated">Calculated</label><input type="checkbox" id="seller_calculated" name="seller_calculated"></p>
         <p><label for="seller_talker">Talker</label><input type="checkbox" id="seller_talker" name="seller_talker"></p>
          <input class="button" type="submit" value="Submit">
      </form>
    </section>
    </div>
    </body>
</html>
