<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Seller profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %} " />
	<noscript><link rel="stylesheet" href=" {% static 'assets/css/noscript.css' %} " /></noscript>
    <link rel="stylesheet" href="{% static 'static/css/seller_profile.css' %}">
</head>
<body>
    <nav class="nav_bar">
        <h2>Welcome {{ user.first_name }} {{ user.last_name }}</h2>
        <a href="/quotes/edit_my_account/{{ user.id }}" role="button" class="btn btn-primary">Edit My Account</a>
        <a href="/">Log off</a>
    </nav>
<div id="wrapper">
    <section class="profile-pic">
        <!-- <img src="static/css/profile_default.jpg"> -->
        <img  id="profile_img" src="static/images/user.png">
    </section>
    <section class="buyer-match">
        <table>
            <tr>
                <th>Matches</th>
            </tr>
            <tr>
                <td><img src="static/images/user.png" style="width:75px;"><p>Name: Buyer Match A</p></td>
            </tr>
            <tr>
        </table>
    </section>
    <section class="selected-trait">
        <h3>Seller Traits</h3>
        {% comment %} Display Seller selected traits during profile setup {% endcomment %}
        {% comment %} {{ for trait = true }} {% endcomment %}
        {% comment %} {{}} {% endcomment %}
    </section>
    <section class="question-summary">
        <h3>Profile Summary</h3>
        {% comment %} Display Seller questions as summary {% endcomment %}
        {% comment %} {{ for trait = true }} {% endcomment %}
        {% comment %} {{}} {% endcomment %}
    </section>
        

</div>
</body>
</html>
            