<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Seller profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %} " />
    <noscript><link rel="stylesheet" href=" {% static 'assets/css/noscript.css' %} " /></noscript>
</head>
<body>
    <nav class="nav_bar">
        <h2>Welcome {{ user.first_name }} {{ user.last_name }}</h2>
        <a href="/quotes/edit_my_account/{{ user.id }}" role="button" class="btn btn-primary">Edit My Account</a>
        <a href="/">Log off</a>
    </nav>
<div id="wrapper">
    <section class="profile-pic">
        <!-- <img src="static/css/profile_default.jpg"> -->
        <img  id="profile_img" class="image" src="static/images/male_seller_user.jpg">
        <p style="margin:auto 95px;text-align:center;">Me</p>
    </section>
    <section class="seller-match">
        <form action="" method="post">
            {% csrf_token %}
            <h3 onclick="myFunction()" style="margin:auto 50px;">View My Matches</h3>
        </form>
        <table>
            <tr>
                <th style="padding-top:200px;"></th>
            <tr>
                <td>
                    <div>
                        <img id="image-match" src="static/images/female_buyer_match.jpg" style="height:125px;width:125px;">
                        <p style="margin-top:25px;">Name: Laughing Linda</p>
                        <p id="email">Email: laughinglinda@email.com</p>
                        <button onclick="" id="meeting-button" value="meeting" href="mailto:">Schedule a Meeting</button>
                    </div>
                </td>
            </tr>
            <tr>
                 <td>
                     <img src="static/images/male_buyer_match.jpg" id="image-match" style="height:125px;width:125px;">
                    <p>Name: Hilarious Hank</p>
                    <p id="email">Email: hilarioushank@email.com</p>
                     <button type="click" id="meeting-button" value="meeting" href="mailto:">Schedule a Meeting</button>
                </td>
            </tr>
                 <td>
                     <img src="static/images/male_buyer_match_two.jpg" id="image-match" style="height:125px;width:125px;">
                    <p>Name: Daring Dave</p>
                    <p id="email">Email: daringdave@email.com</p>
                     <button type="click" id="meeting-button" value="meeting" href="mailto:">Schedule a Meeting</button>
                </td>
            </tr>
            <tr>
                <td><img src="{{ user.user.image.url }}" alt=""></td>
            </tr>
        </table>
    </section>
</div>
    <script>
    function myFunction() {
        document.getElementById("image-match").style.display = "inline";
}   </script>
    <script src=" {% static 'assets/js/jquery.min.js' %} "></script>
    <script src=" {% static 'assets/js/browser.min.js' %} "></script>
    <script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
    <script src=" {% static 'assets/js/util.js' %} "></script>
    <script src=" {% static 'assets/js/main.js' %} "></script>
</body>
</html>
