<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Seller Profile Setup</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
    <body>
    <div class="container">
      <h3>Traitbuilder</h3>
      <p>Add Your Traits as a Salesperson - Pick at least 3</p>
      <form action='seller_traits' method='post' id="seller_trait_form" name="seller_trait_form">
        {% csrf_token %}
        <table>
          <tr>
            <th>
              <td>Traits</td>
            </th>
          </tr>
          <tr>
            <td><input type="checkbox">Persistent</input></td>
            <td><input type="checkbox">Flexible</input></td>
            <td><input type="checkbox">Closer</input></td>
          </tr>
          <tr>
            <td><input type="checkbox">Consultative</input></td>
            <td><input type="checkbox">Detail-oriented</input></td>
            <td><input type="checkbox">Patient</input></td>
          </tr>
          <tr>
            <td><input type="checkbox">Relatable</input></td>
            <td><input type="checkbox">Calculated</input></td>
            <td><input type="checkbox">Talker</input></td>
          </tr>
        </table>
      <h3>Questions</h3>
        <div class="question" id="seller-one">
          <label for="face-face">I prefer face to face meetings.</label>
          <input type="checkbox">Agree</input><input type="checkbox">Disagree</input>
        </div>
        <div class="question" id="seller-two">
          <label for="face-face">I ask questions more than I talk about product or service.</label>
          <input type="checkbox">Agree</input><input type="checkbox">Disagree</input>
        </div>
        <div class="question" id="seller-three">
          <label for="face-face">I don't mind following up until the decision-maker tells me no</label>
          <input type="checkbox">Agree</input><input type="checkbox">Disagree</input>
        </div>
        <div class="question" id="seller-four">
          <label for="face-face">I genuinely enjoy building rapport. (You do it because you like to, not because you have to)</label>
          <input type="checkbox">Agree</input><input type="checkbox">Disagree</input>
        </div>
        <div class="question" id="seller-five">
          <label for="face-face">I am uneasy when I can't read the prospect's buying signals.</label>
          <input type="checkbox">Agree</input><input type="checkbox">Disagree</input>
        </div>
        <button type='submit' value="submit" >Submit</button>
      </form>
    </div>
    </body>
</html>